<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Seaweed Test</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <header>
        <div class="header-div">
            <h1 class="header-h1">Seaweed Test</h1>
        </div>
    </header>
    <body>
        <div class="container">
            <div class="navigation">
                <a class="nav-button" href="{{ url_for('submit') }}">Upload Images</a>
                <a class="nav-button" href="{{ url_for('view', page_num=1) }}">View Images</a>
            </div>
        </div>
    </body>
    <footer>
        
    </footer>
</html>